.Stadium__btn--top
  %p NEXT GAME
  %p
    第
    = match.week
    節
.Stadium__btn--bottom
  = image_tag match.home_team.team_logo, class: "Btn__teamLogo--home"
  %span{class: "#{match.home_team.team_color}"}
  %h3.Btn__teamName--home
    = match.home_team.team_name
  %h4.Btn__versus VS
  %h3.Btn__teamName--away
    = match.away_team.team_name
  %span{class: "#{match.away_team.team_color}"}
  = image_tag match.away_team.team_logo, class: "Btn__teamLogo--away"
%h3.KickoffTime
  = match.kick_off.strftime("%m/%d %H:%M")
  KO