= render "layouts/header"
.Container
  .Stadium
    %h1.Stadium__text Studium
    %h2.Stadium__caution ※ 試合開始2時間前から入場できます
    .Stadium__lists
      - @stadiums.each do |stadium|
        .Stadium__list
          %h2.Stadium__name 
            = stadium.stadium_name
          - i = 0
          - stadium.matches.each do |match|
            - i += 1
            - if Time.now <= (match.kick_off + 60 * 60 * 2.5) && (match.kick_off - 60 * 60 * 2) <= Time.now
              = link_to match_path(match), class: "Stadium__btn" do
                = render 'stadium_btn', stadium: stadium, match: match
              - break
            - elsif Time.now <= (match.kick_off + 60 * 60 * 2.5)
              .Stadium__btn.Opacity
                = render 'stadium_btn', stadium: stadium, match: match
              - break
            - elsif i == stadium.matches.length
              .ComingSoon
                %h1 COMING SOON
= render "layouts/footer"