= render "layouts/header"
.Container
  .TeamShow
    .LeftBox
      = image_tag @team.team_logo, class: "LeftBox__teamLogo"
      %h1.LeftBox__teamName
        = @team.team_name
      .LeftBox__homeStadium
        %h3 Home Stadium
        %h2
          = @homestadium.stadium_name
      .LeftBox__homeTown
        %h3 Home Town
        %h2
          = @homestadium.city
    .RightBox
      .RoomLists
        %h1 History
        - @matches.each do |match|
          - if (match.kick_off + 60 * 60 * 2.5) < Time.now
            .RoomList
              %h2.RoomList__stadiumName
                = match.stadium.stadium_name
              = link_to room_comments_path(match.rooms.find_by(team_id: @team.id)) do
                .Stadium__btn
                  .Stadium__btn--top
                    %p
                      第
                      = match.week
                      節
                  .Stadium__btn--bottom
                    - home_team = @teams.find(match.home_team_id)
                    = image_tag home_team.team_logo, class: "Btn__teamLogo--home"
                    %span{class: "#{home_team.team_color}"}
                    %h3.Btn__teamName--home
                      = home_team.team_name
                    %h4.Btn__versus VS
                    %h3.Btn__teamName--away
                      - away_team = @teams.find(match.away_team_id)
                      = away_team.team_name
                    %span{class: "#{away_team.team_color}"}
                    = image_tag away_team.team_logo, class: "Btn__teamLogo--away"
                  %h3.KickoffTime
                    = match.kick_off.strftime("%m/%d %H:%M")
                    KO
= render "layouts/footer"
