= render "layouts/header"
.Container
  - if current_supporter.email == "o79.uyama.takumi@gmail.com"
    .Matches__form.Matches--opacity
      .NewButton.Button
        追加
    .Weeks.Matches--opacity
      - 34.times do |week|
        .Week
          %p
            ーー
            第
            = week + 1
            節
            ーー
          .Matches
            - @matches.each do |match|
              - if match.week == week + 1
                .MatchBox
                  .Match
                    .Match__top
                      %p
                        第
                        = match.week
                        節
                      %p
                        = match.home_team_score
                        ー
                        =match.away_team_score

                    .Match__bottom
                      - home_team = @teams.find(match.home_team_id)
                      = image_tag home_team.team_logo, class: "TeamLogo--home"
                      %span{class: "#{home_team.team_color}"}
                      %h3.TeamName--home
                        - home_team = @teams.find(match.home_team_id)
                        = home_team.team_name
                      %h4.Versus VS
                      %h3.TeamName--away
                        - away_team = @teams.find(match.away_team_id)
                        = away_team.team_name
                      %span{class: "#{away_team.team_color}"}
                      - away_team = @teams.find(match.away_team_id)
                      = image_tag away_team.team_logo, class: "TeamLogo--away"
                    %h3.KickoffTime
                      = match.kick_off.strftime("%m/%d %H:%M")
                      KO
                  .BottomBox
                    .BottomBox__btn
                      編集
                    .BottomBox__btn
                      削除
    .EditBox
      .EditBox__text
        %p
          第
          = @match.week
          節
        %p
          = @home_team.team_name
          vs
          = @away_team.team_name
      = form_with model: @match, local: true do |f|
        = f.select :week, options_for_select(1..34), { prompt: "節" },class: "Form"
        = f.datetime_local_field :kick_off,class: "Form"
        = f.collection_select :stadium_id, @stadiums, :id, :stadium_name, { prompt: "スタジアム" },class: "Form"
        = f.select :home_team_score, options_for_select(1..20), { prompt: "ホームスコア" },class: "Form"
        = f.select :away_team_score, options_for_select(1..20), { prompt: "アウェースコア" },class: "Form"
        = f.submit "送信", class: "Form"
= render "layouts/footer"
